@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", sans-serif;
  --font-spaceGrotesk: "Space Grotesk", sans-serif;

  --breakpoint-xs: 344px;

  --animate-fadeIn: fadeIn 5s ease;
  --animate-fadeInProject: fadeInProject 3s ease;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeInProject {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@custom-variant sm-height (@media (min-height: 640px));
@custom-variant md-height (@media (min-height: 768px));
@custom-variant lg-height (@media (min-height: 1024px));
@custom-variant xl-height (@media (min-height: 1280px));

body {
  font-family: var(--font-sans);
}
